<div class="w-full h-[45px] bg-black flex items-center justify-center">
  <ul id="navbar" class="grid grid-flow-row gap-4 max-w-[1200px] w-[1200px] min-w-[1024px] mx-[2%] relative">
    <li class="cursor-pointer">
      <span class="text-white">Theme Demo</span>
      <div class="absolute w-full h-[507px] bg-slate-400 hidden">111111</div>
    </li>
    <li class="cursor-pointer">
      <span class="text-white">SHOP</span>
      <div class="absolute w-full h-[507px] bg-slate-400 hidden">111111</div>
    </li>
    <li class="cursor-pointer">
      <span class="text-white">PRODUCT</span>
      <div class="absolute w-full h-[507px] bg-slate-400 hidden">111111</div>
    </li>
    <li class="cursor-pointer">
      <span class="text-white">BLOG</span>
      <div class="absolute w-full h-[507px] bg-slate-400 hidden">111111</div>
    </li>
    <li class="cursor-pointer">
      <span class="text-white">PAGE</span>
      <div class="absolute w-full h-[507px] bg-slate-400 hidden">111111</div>
    </li>
  </ul>
</div>
